:root {
    font-weight: 400;
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
}

body, ul {
    padding:0; margin:0;
}

.trans25, button.TBtn, .TNavbar.Top ul li, TNavbar.Bottom ul li, .TNavbar {
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

button.TBtn {
    padding: 0.35em 0.6em;
    border-radius: 10px;
    background-color: #E65100;
    border-color: #E65100;
    border-width: 3px;
    border-style:solid;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button.TBtn:active {
    transform: scale(1.05);
}

button.TBtn:focus {
    
}


button.TBtn:hover {
    background-color: #BF360C;
    border-color: #BF360C
}

button.TBtn.Fill {
    width: 100%;
}

.TNavbar {
    overflow: hidden;
    background-color: #EF6C00;
    font-size: 1.35rem;
    display: block;
}

.TNavbar.Top, TNavbar.Bottom {
    width: 100vw;
    height: 2.5em;
    max-height: 2.8em;
}

.TNavbar.Top ul, TNavbar.Bottom ul{
    list-style: none; width: 100%; padding: .3em .3em;
    height: 100%;
}

.TNavbar.Top ul li, TNavbar.Bottom ul li{
    float: left; padding: .1em .4em; text-align: center; cursor: pointer; height: 100%; align-content:center;
}

.TNavbar.Top ul li.ar-right, TNavbar.Bottom ul li.ar-right{
    float: right;
}

.TNavbar.Top ul li.Topic, TNavbar.Bottom ul li.Topic{
    font-size: 1.25em; color: white; font-weight: 500;
}

.TNavbar.Top ul li.Topic::after {
    content:list-item;
    border-left: 2px solid;
}

.TNavbar.Top ul li.NItem:hover, TNavbar.Bottom ul li.NItem:hover{
    color: white; transform:scale(1.1);
}

.TNavbar.Left {

}